USE [master]
GO
/****** Object:  Database [ChemLab_DB]    Script Date: 27/09/2025 12:25:33 am ******/
CREATE DATABASE [ChemLab_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ChemLab_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ChemLab_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ChemLab_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ChemLab_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ChemLab_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ChemLab_DB]
GO
/****** Object:  Table [dbo].[Borrower]    Script Date: 27/09/2025 12:25:33 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrower](
	[borrower_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[subject_title] [nvarchar](200) NULL,
	[subject_code] [nvarchar](20) NOT NULL,
	[class_schedule] [nvarchar](100) NULL,
	[instructor] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[borrower_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Borrower_Slip]    Script Date: 27/09/2025 12:25:33 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrower_Slip](
	[slip_id] [int] IDENTITY(1,1) NOT NULL,
	[borrower_id] [int] NOT NULL,
	[date_filed] [datetime] NOT NULL,
	[date_of_use] [datetime] NOT NULL,
	[received_by] [nvarchar](50) NULL,
	[released_by] [nvarchar](50) NULL,
	[checked_by] [nvarchar](50) NULL,
	[remarks] [nvarchar](500) NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[slip_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Active_Slips]    Script Date: 27/09/2025 12:25:33 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ✅ vw_Active_Slips (status = 'Active')
CREATE  VIEW [dbo].[vw_Active_Slips] AS
SELECT
	bs.slip_id,
	b.name AS borrower_name,
	b.subject_code,
	bs.date_filed,
	bs.date_of_use,
	bs.received_by,
	bs.released_by,
	bs.remarks,
	bs.created_at,
	'Active' AS status
FROM Borrower_Slip bs
JOIN Borrower b ON bs.borrower_id = b.borrower_id
WHERE bs.released_by IS NOT NULL AND bs.checked_by IS NULL;
GO
/****** Object:  View [dbo].[vw_Pending_Slips]    Script Date: 27/09/2025 12:25:33 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ✅ vw_Pending_Slips (status = 'Pending')
CREATE  VIEW [dbo].[vw_Pending_Slips] AS
SELECT
	bs.slip_id,
	b.name AS borrower_name,
	b.subject_code,
	bs.date_filed,
	bs.date_of_use,
	bs.received_by,
	bs.remarks,
	bs.created_at,
	'Pending' AS status
FROM Borrower_Slip bs
JOIN Borrower b ON bs.borrower_id = b.borrower_id
WHERE bs.released_by IS NULL AND bs.checked_by IS NULL;
GO
/****** Object:  Table [dbo].[Item]    Script Date: 27/09/2025 12:25:33 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[item_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[alt_name] [nvarchar](200) NULL,
	[description] [nvarchar](500) NULL,
	[category] [nvarchar](50) NOT NULL,
	[unit] [nvarchar](20) NOT NULL,
	[quantity] [int] NOT NULL,
	[expiry_date] [date] NULL,
	[location] [nvarchar](100) NULL,
	[created_at] [datetime] NOT NULL,
	[threshold] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slip_Detail]    Script Date: 27/09/2025 12:25:33 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slip_Detail](
	[slip_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[slip_id] [int] NOT NULL,
	[item_id] [int] NOT NULL,
	[quantity_borrowed] [int] NOT NULL,
	[quantity_returned] [int] NOT NULL,
	[remarks] [nvarchar](500) NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[slip_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Item_Usage]    Script Date: 27/09/2025 12:25:33 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ✅ vw_Item_Usage
CREATE  VIEW [dbo].[vw_Item_Usage] AS
SELECT
	i.item_id,
	i.name AS item_name,
	i.alt_name,
	i.category,
	i.unit,
	i.location,
	i.created_at,
	SUM(sd.quantity_borrowed) AS total_borrowed,
	SUM(sd.quantity_returned) AS total_returned,
	COUNT(sd.slip_id) AS usage_count
FROM Item i
LEFT JOIN Slip_Detail sd ON i.item_id = sd.item_id
LEFT JOIN Borrower_Slip bs ON sd.slip_id = bs.slip_id
GROUP BY
	i.item_id,
	i.name,
	i.alt_name,
	i.category,
	i.unit,
	i.location,
	i.created_at;
GO
/****** Object:  View [dbo].[vw_Completed_Slips]    Script Date: 27/09/2025 12:25:33 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ✅ vw_Completed_Slips (status = 'Complete')
CREATE  VIEW [dbo].[vw_Completed_Slips] AS
SELECT
	bs.slip_id,
	b.name AS borrower_name,
	b.subject_code,
	bs.date_filed,
	bs.date_of_use,
	bs.received_by,
	bs.released_by,
	bs.checked_by,
	bs.remarks,
	bs.created_at,
	'Complete' AS status
FROM Borrower_Slip bs
JOIN Borrower b ON bs.borrower_id = b.borrower_id
WHERE bs.checked_by IS NOT NULL;
GO
/****** Object:  View [dbo].[vw_Complete_Slips]    Script Date: 27/09/2025 12:25:33 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 🟢 vw_Complete_Slips
CREATE  VIEW [dbo].[vw_Complete_Slips] AS
SELECT 
	bs.slip_id,
	bs.borrower_id,
	b.name AS borrower_name,
	bs.date_filed,
	bs.date_of_use,
	bs.remarks,
	bs.status
FROM Borrower_Slip bs
INNER JOIN Borrower b ON bs.borrower_id = b.borrower_id
WHERE bs.status = 'Complete';
GO
/****** Object:  Table [dbo].[Audit_Log]    Script Date: 27/09/2025 12:25:33 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Audit_Log](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [nvarchar](50) NOT NULL,
	[action_type] [nvarchar](50) NOT NULL,
	[description] [nvarchar](500) NOT NULL,
	[date_time] [datetime] NOT NULL,
	[entity_type] [nvarchar](50) NULL,
	[entity_id] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 27/09/2025 12:25:33 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[group_id] [int] IDENTITY(1,1) NOT NULL,
	[group_no] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[group_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Student]    Script Date: 27/09/2025 12:25:33 am ******/
-- MOVED UP TO RESOLVE 'REFERENCES INVALID TABLE' ERROR
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[student_id] [int] IDENTITY(1,1) NOT NULL,
	[group_id] [int] NOT NULL,
	[first_name] [nvarchar](100) NOT NULL,
	[last_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Incident]    Script Date: 27/09/2025 12:25:33 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incident](
	[incident_id] [int] IDENTITY(1,1) NOT NULL,
	[group_id] [int] NOT NULL,
	[return_id] [int] NULL,
	[item_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[date_of_incident] [datetime] NOT NULL,
	[date_settled] [datetime] NULL,
	[reference_no] [nvarchar](50) NULL,
	[description] [nvarchar](500) NULL,
	[receipt_path] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[incident_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Incident_Student]    Script Date: 27/09/2025 12:25:33 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incident_Student](
	[incident_student_id] [int] IDENTITY(1,1) NOT NULL,
	[incident_id] [int] NOT NULL,
	[student_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[incident_student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- FIXED: Replaced ALTER...WITH CHECK ADD FOREIGN KEY to use explicit, correct names
ALTER TABLE [dbo].[Incident_Student] WITH CHECK ADD CONSTRAINT [FK_IncidentStudent_Incident] FOREIGN KEY([incident_id])
REFERENCES [dbo].[Incident] ([incident_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Incident_Student] CHECK CONSTRAINT [FK_IncidentStudent_Incident]
GO
ALTER TABLE [dbo].[Incident_Student] WITH CHECK ADD CONSTRAINT [FK_IncidentStudent_Student] FOREIGN KEY([student_id])
REFERENCES [dbo].[Student] ([student_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Incident_Student] CHECK CONSTRAINT [FK_IncidentStudent_Student]
GO

/****** Object:  Index [IX_Incident_Student_IncidentId]    Script Date: 27/09/2025 12:25:33 am ******/
-- FIXED: STATISTICS_NORECOMPILE replaced with STATISTICS_NORECOMPUTE
CREATE NONCLUSTERED INDEX [IX_Incident_Student_IncidentId] ON [dbo].[Incident_Student]
(
	[incident_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

/****** Object:  Index [IX_Incident_Student_StudentId]    Script Date: 27/09/2025 12:25:33 am ******/
-- FIXED: STATISTICS_NORECOMPILE replaced with STATISTICS_NORECOMPUTE
CREATE NONCLUSTERED INDEX [IX_Incident_Student_StudentId] ON [dbo].[Incident_Student]
(
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[LowStock_Log]    Script Date: 27/09/2025 12:25:33 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LowStock_Log](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[item_id] [int] NOT NULL,
	[logged_at] [datetime] NOT NULL,
	[quantity_at_that_time] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Return]    Script Date: 27/09/2025 12:25:33 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Return](
	[return_id] [int] IDENTITY(1,1) NOT NULL,
	[slip_id] [int] NOT NULL,
	[date_returned] [datetime] NOT NULL,
	[received_by] [nvarchar](50) NULL,
	[checked_by] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[return_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 27/09/2025 12:25:33 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id_number] [nvarchar](50) NOT NULL,
	[first_name] [nvarchar](100) NOT NULL,
	[last_name] [nvarchar](100) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[birthdate] [date] NOT NULL,
	[role] [nvarchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Audit_Log_ActionType]    Script Date: 27/09/2025 12:25:33 am ******/
CREATE NONCLUSTERED INDEX [IX_Audit_Log_ActionType] ON [dbo].[Audit_Log]
(
	[action_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Audit_Log_DateTime]    Script Date: 27/09/2025 12:25:34 am ******/
CREATE NONCLUSTERED INDEX [IX_Audit_Log_DateTime] ON [dbo].[Audit_Log]
(
	[date_time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Audit_Log_UserId]    Script Date: 27/09/2025 12:25:34 am ******/
CREATE NONCLUSTERED INDEX [IX_Audit_Log_UserId] ON [dbo].[Audit_Log]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Borrower_Slip_BorrowerId]    Script Date: 27/09/2025 12:25:34 am ******/
CREATE NONCLUSTERED INDEX [IX_Borrower_Slip_BorrowerId] ON [dbo].[Borrower_Slip]
(
	[borrower_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Borrower_Slip_DateFiled]    Script Date: 27/09/2025 12:25:34 am ******/
CREATE NONCLUSTERED INDEX [IX_Borrower_Slip_DateFiled] ON [dbo].[Borrower_Slip]
(
	[date_filed] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Incident_DateSettled]    Script Date: 27/09/2025 12:25:34 am ******/
CREATE NONCLUSTERED INDEX [IX_Incident_DateSettled] ON [dbo].[Incident]
(
	[date_settled] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Incident_GroupId]    Script Date: 27/09/2025 12:25:34 am ******/
CREATE NONCLUSTERED INDEX [IX_Incident_GroupId] ON [dbo].[Incident]
(
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Incident_ItemId]    Script Date: 27/09/2025 12:25:34 am ******/
CREATE NONCLUSTERED INDEX [IX_Incident_ItemId] ON [dbo].[Incident]
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Incident_ReturnId]    Script Date: 27/09/2025 12:25:34 am ******/
CREATE NONCLUSTERED INDEX [IX_Incident_ReturnId] ON [dbo].[Incident]
(
	[return_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Item_Category]    Script Date: 27/09/2025 12:25:34 am ******/
CREATE NONCLUSTERED INDEX [IX_Item_Category] ON [dbo].[Item]
(
	[category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Item_ExpiryDate]    Script Date: 27/09/2025 12:25:34 am ******/
CREATE NONCLUSTERED INDEX [IX_Item_ExpiryDate] ON [dbo].[Item]
(
	[expiry_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Item_Quantity]    Script Date: 27/09/2025 12:25:34 am ******/
CREATE NONCLUSTERED INDEX [IX_Item_Quantity] ON [dbo].[Item]
(
	[quantity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Return_DateReturned]    Script Date: 27/09/2025 12:25:34 am ******/
CREATE NONCLUSTERED INDEX [IX_Return_DateReturned] ON [dbo].[Return]
(
	[date_returned] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Return_SlipId]    Script Date: 27/09/2025 12:25:34 am ******/
CREATE NONCLUSTERED INDEX [IX_Return_SlipId] ON [dbo].[Return]
(
	[slip_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Slip_Detail_ItemId]    Script Date: 27/09/2025 12:25:34 am ******/
CREATE NONCLUSTERED INDEX [IX_Slip_Detail_ItemId] ON [dbo].[Slip_Detail]
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Slip_Detail_SlipId]    Script Date: 27/09/2025 12:25:34 am ******/
CREATE NONCLUSTERED INDEX [IX_Slip_Detail_SlipId] ON [dbo].[Slip_Detail]
(
	[slip_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_User_Role]    Script Date: 27/09/2025 12:25:34 am ******/
CREATE NONCLUSTERED INDEX [IX_User_Role] ON [dbo].[User]
(
	[role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_User_Username]    Script Date: 27/09/2025 12:25:34 am ******/
CREATE NONCLUSTERED INDEX [IX_User_Username] ON [dbo].[User]
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Audit_Log] ADD  DEFAULT (getdate()) FOR [date_time]
GO
ALTER TABLE [dbo].[Borrower_Slip] ADD  DEFAULT (getdate()) FOR [date_filed]
GO
ALTER TABLE [dbo].[Borrower_Slip] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[Borrower_Slip] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Incident] ADD  DEFAULT (getdate()) FOR [date_of_incident]
GO
ALTER TABLE [dbo].[Item] ADD  DEFAULT ((0)) FOR [quantity]
GO
ALTER TABLE [dbo].[Item] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[LowStock_Log] ADD  DEFAULT (getdate()) FOR [logged_at]
GO
ALTER TABLE [dbo].[Return] ADD  DEFAULT (getdate()) FOR [date_returned]
GO
ALTER TABLE [dbo].[Slip_Detail] ADD  DEFAULT ((0)) FOR [quantity_returned]
GO
ALTER TABLE [dbo].[Slip_Detail] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Audit_Log]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([id_number])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Borrower_Slip]  WITH CHECK ADD FOREIGN KEY([borrower_id])
REFERENCES [dbo].[Borrower] ([borrower_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Borrower_Slip]  WITH CHECK ADD FOREIGN KEY([checked_by])
REFERENCES [dbo].[User] ([username])
GO
ALTER TABLE [dbo].[Borrower_Slip]  WITH CHECK ADD FOREIGN KEY([received_by])
REFERENCES [dbo].[User] ([username])
GO
ALTER TABLE [dbo].[Borrower_Slip]  WITH CHECK ADD FOREIGN KEY([released_by])
REFERENCES [dbo].[User] ([username])
GO
ALTER TABLE [dbo].[Incident]  WITH CHECK ADD FOREIGN KEY([group_id])
REFERENCES [dbo].[Group] ([group_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Incident]  WITH CHECK ADD FOREIGN KEY([item_id])
REFERENCES [dbo].[Item] ([item_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Incident]  WITH CHECK ADD FOREIGN KEY([return_id])
REFERENCES [dbo].[Return] ([return_id])
ON DELETE CASCADE
GO

ALTER TABLE [dbo].[Incident]  ADD DEFAULT (NULL) FOR [description]
GO
ALTER TABLE [dbo].[Incident]  ADD DEFAULT (NULL) FOR [receipt_path]
GO

ALTER TABLE [dbo].[LowStock_Log]  WITH CHECK ADD FOREIGN KEY([item_id])
REFERENCES [dbo].[Item] ([item_id])
GO
ALTER TABLE [dbo].[Return]  WITH CHECK ADD FOREIGN KEY([checked_by])
REFERENCES [dbo].[User] ([username])
GO
ALTER TABLE [dbo].[Return]  WITH CHECK ADD FOREIGN KEY([received_by])
REFERENCES [dbo].[User] ([username])
GO
ALTER TABLE [dbo].[Return]  WITH CHECK ADD FOREIGN KEY([slip_id])
REFERENCES [dbo].[Borrower_Slip] ([slip_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Slip_Detail]  WITH CHECK ADD FOREIGN KEY([item_id])
REFERENCES [dbo].[Item] ([item_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Slip_Detail]  WITH CHECK ADD FOREIGN KEY([slip_id])
REFERENCES [dbo].[Borrower_Slip] ([slip_id])
ON DELETE CASCADE
GO

-- *** FIX FOR Msg 1785: Changed ON DELETE CASCADE to ON DELETE NO ACTION to break the cycle. ***
ALTER TABLE [dbo].[Student] WITH CHECK ADD CONSTRAINT [FK_Student_Group] FOREIGN KEY([group_id])
REFERENCES [dbo].[Group] ([group_id])
ON DELETE NO ACTION
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Group]
GO
-- *****************************************************************************************

ALTER TABLE [dbo].[Borrower_Slip]  WITH CHECK ADD  CONSTRAINT [chk_borrower_slips_status] CHECK  (([status]='Complete' OR [status]='Active' OR [status]='Pending'))
GO
ALTER TABLE [dbo].[Borrower_Slip] CHECK CONSTRAINT [chk_borrower_slips_status]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD CHECK  (([role]='Custodian' OR [role]='STA'))
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBorrowerActivity]    Script Date: 27/09/2025 12:25:34 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetBorrowerActivity]
	@borrowerId INT
AS
BEGIN
	SELECT 
		b.name,
		b.subject_code,
		COUNT(bs.slip_id) AS total_slips,
		COUNT(CASE WHEN bs.checked_by IS NOT NULL THEN 1 END) AS completed_slips,
		COUNT(CASE WHEN bs.checked_by IS NULL AND bs.released_by IS NOT NULL THEN 1 END) AS active_slips,
		COUNT(CASE WHEN bs.released_by IS NULL THEN 1 END) AS pending_slips
	FROM Borrower b
	LEFT JOIN Borrower_Slip bs ON b.borrower_id = bs.borrower_id
	WHERE b.borrower_id = @borrowerId
	GROUP BY b.borrower_id, b.name, b.subject_code;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetExpiringItems]    Script Date: 27/09/2025 12:25:34 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetExpiringItems]
	@daysAhead INT = 30
AS
BEGIN
	SELECT * FROM Item
	WHERE expiry_date IS NOT NULL
	  AND expiry_date <= DATEADD(day, @daysAhead, GETDATE())
	ORDER BY expiry_date ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLowStockItems]    Script Date: 27/09/2025 12:25:34 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[sp_GetLowStockItems]
	@year INT
AS
BEGIN
	SET NOCOUNT ON;

	SELECT 
		l.log_id,
		l.item_id,
		i.name,
		i.alt_name,
		i.category,
		i.unit,
		l.quantity_at_that_time AS quantity,
		i.threshold,
		i.location,
		l.logged_at
	FROM LowStock_Log l
	INNER JOIN Item i ON l.item_id = i.item_id
	WHERE YEAR(l.logged_at) = @year
	ORDER BY l.logged_at DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LogLowStock]    Script Date: 27/09/2025 12:25:34 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[sp_LogLowStock]
AS
BEGIN
	SET NOCOUNT ON;

	INSERT INTO LowStock_Log (item_id, quantity_at_that_time)
	SELECT 
		i.item_id,
		i.quantity
	FROM Item i
	WHERE i.threshold IS NOT NULL
	  AND i.quantity <= i.threshold
	  AND NOT EXISTS (
			SELECT 1 
			FROM LowStock_Log l
			WHERE l.item_id = i.item_id
			  AND CAST(l.logged_at AS DATE) = CAST(GETDATE() AS DATE) -- avoid duplicate logging in same day
		);
END
GO

-- User-defined table type for slip details
CREATE TYPE [dbo].[SlipDetailTableType] AS TABLE
(
    [item_id] int NOT NULL,
    [quantity_borrowed] int NOT NULL,
    [remarks] nvarchar(500) NULL
);
GO

/****** Object:  StoredProcedure [dbo].[InsertBorrowerWithSlipAndDetails]    Script Date: 9/28/2025 4:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertBorrowerWithSlipAndDetails]
    @name nvarchar(200),
    @subject_title nvarchar(200) = NULL,
    @subject_code nvarchar(20),
    @class_schedule nvarchar(100) = NULL,
    @instructor nvarchar(200) = NULL,
    @date_filed datetime,
    @date_of_use datetime = NULL,
    @received_by nvarchar(50) = NULL,
    @remarks nvarchar(500) = NULL,
    @details SlipDetailTableType READONLY
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @borrower_id int;
    DECLARE @slip_id int;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Check if borrower exists (unique by name + subject_code)
        IF NOT EXISTS (SELECT 1 FROM Borrower WHERE name = @name AND subject_code = @subject_code)
        BEGIN
            INSERT INTO Borrower (name, subject_title, subject_code, class_schedule, instructor)
            VALUES (@name, @subject_title, @subject_code, @class_schedule, @instructor);
            SET @borrower_id = SCOPE_IDENTITY();
        END
        ELSE
        BEGIN
            SELECT @borrower_id = borrower_id FROM Borrower WHERE name = @name AND subject_code = @subject_code;
        END

        -- Insert slip (use date_filed if date_of_use is null, since date_of_use is NOT NULL)
        INSERT INTO Borrower_Slip (borrower_id, date_filed, date_of_use, received_by, remarks, status, created_at)
        VALUES (@borrower_id, @date_filed, ISNULL(@date_of_use, @date_filed), @received_by, @remarks, 'Pending', GETDATE());
        SET @slip_id = SCOPE_IDENTITY();

        -- Insert details
        INSERT INTO Slip_Detail (slip_id, item_id, quantity_borrowed, quantity_returned, remarks, created_at)
        SELECT @slip_id, item_id, quantity_borrowed, 0, remarks, GETDATE() FROM @details;

        COMMIT TRANSACTION;
        SELECT @slip_id;  -- Output the new slip_id
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO

USE [master]
GO
